In [14]:
#Importing Libraries
import pandas as pd

In [15]:
url = 'https://raw.githubusercontent.com/Mburu-Elvis/NairobiRentPrices/main/data/apartment_final.csv'
df = pd.read_csv(url,sep=",")

In [16]:
df.head()

   Bedrooms  Bathrooms   Price      City    Location
0         3          3  200000   Nairobi   Riverside
1         3          4   70000   Nairobi  Kileleshwa
2         3          2   38000   Mombasa       Nyali
3         3          3   80000   Nairobi   Lavington
4         1          1  110000   Nairobi  Kileleshwa

### Data Cleaning

In [17]:
#View the data types in the dataframe
display(df.dtypes)

Bedrooms      int64
Bathrooms     int64
Price         int64
City         object
Location     object
dtype: object

### Creating a csv file of the clean Apartments Data

In [19]:
# Save the clean data to a new CSV file
df.to_csv('Cleaned_Apartments.csv', index=False)